<div class="row contenedor-catalogo">
	<div class="column small-12 contenedor-barra-sup">
		<barra-sup></barra-sup>
	</div>
</div>
<div class="row">
	<div class="column small-12 contenedor-catalogo">
		<div class="row">
			<div class="column small-12 contenedor-barra-buscador">
				<barra-buscador></barra-buscador>
			</div>		
		</div>
		<hr>
		<div class="row">
			<div class="column small-12 contenedor-galeria">
						<galeria-productos></galeria-productos>
						<carrito></carrito>
						<detalle-producto></detalle-producto>
			</div>		
		</div>	
	</div>
</div>