 <div class="row main">
      <div class="column small-12 login-container">
        <div class="callout primary login">
          <h4>Inicia sesión</h4>
          <form>
            <div class="row align-center">
              <div class="small-7 columns">
                <label>Usuario
                  <input type="text" id="user" required #user>
                </label>
              </div>
              <div class="small-7 columns">
                <label>Contraseña
                  <input type="password" id="password" required #pass>
                </label>
              </div>
              <div class="small-7 columns btn-container">
              <a (click)="verificaUsers(user.value,pass.value)">Enviar</a>
               </div>
            </div>
          </form>
        </div>
      </div>
    </div>
